{{#each destinations as |destination|}}
  <!-- Don't uncomment yet -->

  <section class="col-4 mb-3">
    <h4 class="location row m-0">
      <small>Location:</small> {{destination.location}}
    </h4>
    <p class="note row m-0">
      <small>Note:</small> {{destination.note}}
    </p>
    <p class="contact row m-0">
      <small>Contact:</small> {{destination.contact}}
    </p>
      <form class="update-form p-2">
        <input type="text" name="destination[id]" class="d-none" value="{{destination.id}}">
        <input required name="destination[location]" type="text" value="{{destination.location}}">
        <input name="destination[note]" type="text" value="{{destination.note}}">
        <input name="destination[contact]" type="text" value="{{destination.contact}}">
        <button class="update-btn" type="submit">Update</button>
      </form>
    <!-- <button class="btn-danger" type="button" name="button">Delete</button> -->
  </section>

{{/each}}
