{{#each destinations as |destination|}}
  <!-- Don't uncomment yet -->

  <section class="dest-area col-4 p-2 m-0">
    <p class="dest-label row m-0"> <small>Location:</small> </p>
    <p class="dest-info row m-0 p-1"> {{destination.location}} </p>
    <p class="dest-label row m-0"> <small>Note:</small> </p>
    <p class="dest-info row m-0 p-1"> {{destination.note}} </p>
    <p class="dest-label row m-0"> <small>Contact:</small> </p>
    <p class="dest-info row m-0 p-1"> {{destination.contact}} </p>
    <div class="d-flex dest-btns">
      <div class="dropdown">
        <button class="dropdown-toggle btn-warning" type="button" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Update
        </button>
        <div class="dropdown-menu">
          <form class="update-form">
            <input type="text" name="destination[id]" class="d-none" value="{{destination.id}}">
            <input class="dropdown-item" required name="destination[location]" type="text" value="{{destination.location}}">
            <input class="dropdown-item" name="destination[note]" type="text" value="{{destination.note}}">
            <input class="dropdown-item" name="destination[contact]" type="text" value="{{destination.contact}}">
            <input class="dropdown-item dd-btn" type="submit" value="Update">
          </form>
        </div>
      </div>
      <div class="">
        <form class="delete-form">
          <input type="text" name="destination[id]" class="d-none" value="{{destination.id}}">
          <input class="delete-btn btn-outline-danger" type="submit" value="Delete">
        </form>
      </div>
    </div>
    <!-- <button class="btn-danger" type="button" name="button">Delete</button> -->
  </section>

{{/each}}
